/* ======================MODAL-WINDOW-MOBILE,TABLET===================================*/
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 8px;
  
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      outline: none;
      cursor: pointer;
    }
}
.modal-close-svg {
  display: flex;
  
  width: 18px;
  height: 18px;
  fill: #212121;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.modal-button-close:hover .modal-close-svg {
  fill: #2196f3;
}
/* ====================== MODAL-FORM-MOBILE,TABLET ===========================================*/
.modal-form {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
.title-form {
  margin: 40px;
  margin-top: 2px;
  margin-bottom: 12px;
  
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
}
.label {
  position: relative;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 40px;
  
  display: block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  text-align: left;
  color: $secindary-text-color;
}
.modal-input {
  display: block;
  margin: 0 auto;
  padding-left: 42px;
  
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline: 1px solid #2196f3;
    cursor: pointer;
  }
}
.modal-form-icon-thumb{
  position: relative;
}
.modal-icon-svg {
  position: absolute;
  left: 12%;
  top:30%;
  fill: #212121;
  display: block;
  width: 15px;
  height: 15px;
    
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.modal-input:focus + .modal-icon-svg{
  fill: #2196f3;
  cursor: pointer;
}
.modal-texterea {
  display: block;
  margin: 0 40px;
  padding: 10px;
  
  width: 370px;
  height: 120px;
  resize: none; /*убрать растягивания окна в текстариа*/
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline: 1px solid #2196f3;
    cursor: pointer;
  }
}
.modal-button-sent {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 164px;
  margin-right: 164px;
  padding: 10px 55px;
  
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  
  outline: none;
  border: none;
  background: #188ce8;
  border-radius: 4px;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    border: none;
  }
}
/* ====================== MODAL-FORM-DASKTOP ===========================================*/
@media screen and (min-width:1200px){
  .modal-window {
    min-width: 528px;
    min-height: 580px;
  }
  .modal-input{
    margin: 4px auto 10px auto;
    width: 448px;
    height: 40px;
  }
  .modal-texterea{
      width: 448px;
      height: 120px;
  }
  .modal-icon-svg{
    left: 10%;
  }
}
 /* ====================== CHECKBOX ===========================================*/
.label-checkbox {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $secindary-text-color;

  &::before{
    display: inline-block;
    content: "";
    margin-right: 10px;
    width: 16px;
    height: 15px;
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    border: 1px solid  #212121;
  }
}
.input-checkbox:checked + .label-checkbox::before{
  background-color: $akcent-color;
}
.checkbox-link{
  color: #2196F3;
}